# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Nexos.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\Nexos\.idea\.idea.Nexos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
